* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

span 
{
    font-family: 'Roboto';font-size: 0.7rem;
    color: white;
    height: 100%;
}

h3 
{
    font-family: 'Roboto';font-size: 1.5rem;
    color: #f37f22;
}

/***********************************
** Navbar styles
***********************************/

a {
    color: #373634;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #f37f22;
}

li {
    padding: 20px;
    font-family: 'Roboto';font-size: 1.5rem;
}

nav.top-bar {
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}

.top-bar>* {
    display: inline-block;
    height: 100%;
}

.top-bar .left {
    padding: 10px;
}

.top-bar .left img {
    height: 100%;
}

.top-bar .right {
    float: right;
}

.top-bar .right ul {
    position: absolute;
    display: flex;
    right: 0%;
    list-style: none;
    margin: 0;
}

.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 25px 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background: transparent;
    height: 100%;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.hamburger--squeeze .hamburger-inner {
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: 75ms;
}

.hamburger--squeeze.is-active .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: rotate(45deg);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #f37f22;
}

.hamburger-inner::after,
.hamburger-inner::before {
    display: block;
    content: "";
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 75ms ease .12s, opacity 75ms ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
    transform: rotate(-90deg);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    transition: top 75ms ease, opacity 75ms ease .12s;
    opacity: 0;
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}


/***********************************
** Intro Styles
***********************************/

#intro {
    height: calc(100% - 70px);
    margin-top: 70px;
    width: 100%;
    position: relative;
}

#intro > .content
{
    font-family: 'Roboto';font-size: 3.5rem;
    letter-spacing: 0.17rem;
    display: grid;
    grid-template-columns: 50% 50%;
}


#intro > .content > .lab-name > p
{
    margin-bottom: 1rem;
}

#intro > .content > .lab-name > p:nth-child(1) > i 
{
    background-color: #f37f22;
    color: white;
}

#intro > .content > .lab-name > p:nth-child(2) > i 
{
    background-color: #ef4f21;
    color: white;
}


#intro > .content > .lab-name > p:nth-child(3) > i 
{
    background-color: #d12028;
    color: white;
}


/***********************************
** Grid
***********************************/

.grid-wrapper 
{
    display: grid;
    grid-template-rows: 30% 70%;
}


.boxes
{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}


/***********************************
** Horizontal Flips
***********************************/

 /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    text-align: center;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #d12028;
  color: black;
  text-align: center;
}

.flip-box-front img {
  height: 100%;
  width: 100%;
}

/* Style the back side */
.flip-box-back {
  background-color: #ef4f21;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
} 

.flip-box-back img {
    height: 100%;
    width: 100%;
}

/***********************************
** Laboratory-Section Styles
***********************************/ 

#laboratory img 
{
    height: 50%;
    width: 50%;
}


/***********************************
** Media Queries
***********************************/

@media only screen and (max-width: 610px) { /* Responsividad de la pantalla */
    #intro > .content 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .top-bar .right ul 
    {
        position: absolute;
        display: none;
        right: -100%;
        list-style: none;
    }

    .hamburger .hamburger--squeeze .js-hamburger
    {
        display: none;
    }

    #intro > .content > .grid-wrapper
    {
        display: none;
    }

}


/* Delete this, DEVELOPMENT */

section {
    border: 1px solid black;
}

section.padded-section {
    padding: 50px;
}

section>.background {
    position: absolute;
    width: 100%;
    height: 100%;
}

section>.content{
    
}